@import "./variable";

.category {
    margin-bottom: 180px;
    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    &__item {
        width: 23.07%;
        padding: 30px 28px 40px;
        margin-bottom: 30px;
        border-radius: 40px;

        display: flex;
        flex-direction: column;

        transition: 0.2s linear;

        &:nth-child(1) {
            box-shadow: 0px 0px 100px -40px #ff97c3;
        }

        &:nth-child(2) {
            box-shadow: 0px 0px 100px -40px #ff706d;
        }

        &:nth-child(3) {
            box-shadow: 0px 0px 100px -40px #8598ff;
        }

        &:nth-child(4) {
            box-shadow: 0px 0px 100px -40px #ffc87a;
        }

        &:hover {
            transform: scale(1.05);
        }
    }

    &__img {
        margin-bottom: 38px;
        transition: 0.4s linear;

        &:hover {
            transform: scale(1.03);
        }
    }

    &__name {
        color: $text-color;
        margin-bottom: 30px;
        font-size: 26px;
        hyphens: auto;

        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    &__detail {
        color: #929ab3;
        font-weight: 300;
        margin-top: auto;

        span {
            @include text-overflow;

            display: inline-block;
            max-width: 160px;
        }
    }

    &__icon {
        font-size: 14px;
        margin-left: 14px;
        transform: scaleX(1.6);
    }
}
