.btn {
    display: inline-block;
    font-size: 20px;
    padding: 15px 35px;
    border: 1px solid $text-color;
    border-radius: 50px;
    transition: color 0.2s linear;

    &:hover {
        background-color: $text-color;

        color: white;
    }

    &--yellow {
        background: linear-gradient(to bottom, #ffec89, #ffc87a);
        border: none;
        box-shadow: 0 20px 50px -5px #ffec89;
    }
}
.modal {
    display: none;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.active-modal {
    display: block;
}

@mixin text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
