.coppyright {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 190px;

    padding-top: 30px;
    border-top: 3px solid $blur-color;

    &-privacy {
        font-size: 14px;
    }

    &-link {
        color: $text-color;

        &:first-child {
            margin-right: 15px;
        }
    }

    &-coppyright {
        color: $text-color;
        font-size: 14px;
    }
}
