.feature {
    &-item {
        display: flex;
        margin-bottom: 140px;

        &:nth-child(2) {
            .feature-img {
                order: 2;
                z-index: 2;
            }

            .feature-info {
                margin-left: 0;
                margin-right: 100px;
            }

            .feature-intro {
                &__item {
                    position: relative;
                    text-decoration: none;
                    padding-left: 40px;
                    transition: transform 0.3s ease-in-out;

                    &::before {
                        content: "";
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                        background-color: #ff6adf;

                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 0;
                    }

                    &:nth-child(2)::before {
                        background-color: #92fa3c;
                    }

                    &:nth-child(3)::before {
                        background-color: #1ec0f4;
                    }

                    &:nth-child(4)::before {
                        background-color: #ff899c;
                    }

                    &:hover {
                        transform: translateX(10%);
                    }
                }
            }
        }

        &:nth-child(3) {
            .feature-intro {
                display: flex;
                flex-wrap: wrap;
                &__item {
                    width: 30%;
                    text-decoration: none;
                    margin-right: 50px;
                    transition: transform 0.3s ease-in-out;

                    &:hover {
                        transform: scale(1.04);
                    }
                }

                &__img {
                    margin-bottom: 16px;
                }

                &__desc {
                    color: $blur-color;
                    font-size: 14px;
                    font-weight: 300;
                }
            }
        }
    }

    &-img {
        width: 48.71%;
        object-fit: contain;
        transition: transform 0.2s ease-in-out;

        &:hover {
            transform: translateY(-10px);
        }
    }

    &-info {
        margin-left: 100px;
        margin-top: 100px;
    }

    &-title {
        color: $text-color;
        font-size: 38px;
        line-height: 1.5;
        font-weight: bold;

        margin-bottom: 30px;
    }

    &-desc {
        color: $blur-color;
        margin-bottom: 34px;
        font-size: 15px;
        line-height: 1.6;
    }

    &-intro {
        &__item {
            color: $text-color;
            font-weight: bold;
            line-height: 1.8;
            margin-bottom: 36px;
            text-decoration: underline;
            text-underline-offset: 5px;
            text-decoration-thickness: 3px;
        }
    }
}
