@media screen and (max-width: 1023px) {
    .banner-heading {
        font-size: 46px;
    }

    .feature-info {
        margin-top: 0;
        margin-left: 50px;
    }

    .feature-title {
        font-size: 26px;
    }

    .feature-desc {
        font-size: 12px;
        margin-bottom: 30px;
    }

    .feature-intro__item {
        font-size: 14px;
        margin-bottom: 30px;
    }

    .feature-item {
        &:nth-child(2) {
            .feature-info {
                margin-right: 50px;
            }
        }

        &:nth-child(3) {
            .feature-intro__item {
                margin-right: 0;
                width: unset;
            }

            .feature-intro__img {
                display: inline-block;
                margin: 0;
                margin-right: 10px;
            }

            .feature-img {
                object-fit: fill;
            }

            .feature-intro__title {
                display: inline-block;
                transform: translateY(-15px);
            }
        }
    }

    .partners-list {
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 40px;
    }

    .partners-item {
        width: 50%;
        margin-bottom: 20px;
        text-align: center;
    }

    .partners-item:not(:last-child) {
        margin-right: 0;
    }

    .partners-img {
        display: inline-block;
    }

    .subscribe {
        flex-direction: column;
        margin-top: 100px;
    }

    .subscribe__title {
        margin-bottom: 20px;
    }

    .subscribe__form {
        width: 100%;
    }

    .subscribe__social-list {
        justify-content: center;
    }

    .footer {
        margin-bottom: 160px;
    }

    .footer-logo {
        margin-right: 100px;
    }

    .footer-list {
        margin-right: 120px;
        display: block;
    }
}

@media screen and (max-width: 767px) {
    .navbar-sticky {
        position: sticky;
        background-color: #fff;

        top: 0;
        z-index: 5;

        &::before {
            content: "";
            position: absolute;
            height: 100%;
            left: -10%;

            width: 10.2%;
            background-color: white;
        }

        &::after {
            content: "";
            position: absolute;
            height: 100%;
            right: -10%;

            width: 10.2%;
            background-color: white;
        }
    }

    .navbar-menu {
        position: fixed;
        top: 0;
        right: -60%;
        bottom: 0;
        width: 60%;

        z-index: 4;

        display: flex;
        flex-direction: column;
        align-items: center;

        background-color: white;
        padding-top: 100px;

        transition: all 0.3s linear;
        opacity: 1;
    }

    .navbar .btn {
        font-size: 12px;
        padding: 6px 16px;
    }

    .active-menu {
        transform: translateX(-100%);
        opacity: 1;
    }

    .navbar-menu-item {
        font-size: 24px;
        margin: 0;
        margin-bottom: 40px;
        font-weight: bold;

        .navbar-menu-icon {
            display: none;
        }
    }

    .navbar-menu-link {
    }

    .hamburger {
        z-index: 4;
        height: 4rem;
        width: 3rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .hamburger .bar {
        width: 1.9rem;
        height: 1.5px;
        border-radius: 2px;
        background-color: #000;
        transition: 0.3s;
    }

    .bar::before,
    .bar::after {
        content: "";
        position: absolute;
        width: inherit;
        height: inherit;
        background-color: #000;
        transition: 0.5s;
    }

    .bar::before {
        transform: translateY(-9px);
    }
    .bar::after {
        transform: translateY(9px);
    }

    .active .bar {
        transform: rotate(360deg);
        background-color: transparent;
    }

    .active .bar:before {
        transform: rotate(45deg);
    }

    .hamburger.active .bar:after {
        transform: rotate(-45deg);
    }

    .banner-heading {
        font-size: 40px;
        text-align: center;
        line-height: 1.4;
        margin-bottom: 26px;
    }

    .banner-desc {
        font-size: 14px;
        margin-bottom: 26px;
    }

    .banner-action {
        .btn {
            font-size: 14px;
        }
    }

    .feature-item {
        flex-direction: column;
        margin-bottom: 100px;
    }

    .feature-item:nth-child(2) {
        .feature-info {
            order: 2;
            padding-right: 0;
        }
    }

    .feature-item:nth-child(3) {
        justify-content: space-between;
        .feature-intro__item {
            width: 50%;
            margin: 0;
            margin-bottom: 20px;

            animation: bounceInRight;
            animation-duration: 1s;

            &:nth-child(2n) {
                animation: bounceInLeft;
                animation-duration: 1s;
            }

            &:nth-child(2n + 1) {
                padding-right: 30px;
            }
        }

        .feature-intro__img {
            margin: 0;
            margin-bottom: 10px;
        }
    }

    .feature-intro__title {
        min-height: 50px;
    }

    .feature-intro__desc {
        margin-top: auto;
    }

    .feature-item .btn {
        display: block;
        text-align: center;
    }

    .feature-img {
        width: 85%;
        margin: 0 auto 20px;
    }

    .feature-info {
        margin: 0;
        padding: 0 30px;
    }

    .feature-desc {
        font-size: 12px;
        margin-bottom: 30px;
    }

    .feature-title {
        font-size: 20px;
    }

    .feature-intro__item {
        font-size: 14px;
        margin-bottom: 30px;
    }

    .feature-item .btn {
        animation: shakeY;
        animation-duration: 0.8s;
    }

    .banner {
        padding: 50px 0;
    }

    .category {
        margin-bottom: 100px;
    }

    .category__list {
        display: block;
    }

    .category__item {
        width: 270px;
        margin: 0 auto 40px;

        animation: fadeInRightBig;
        animation-duration: 0.8s;

        &:nth-child(2n + 1) {
            animation: fadeInLeftBig;
            animation-duration: 0.8s;
        }
    }

    .partners {
        margin-top: 100px;
    }

    .partners-list {
        flex-direction: column;
        padding-top: 30px;
    }

    .partners-item {
        width: 100%;

        animation: fadeInRight;
        animation-duration: 0.8s;
    }

    .partners-img {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .partners-heading {
        margin-bottom: 30px;
    }

    .connect {
        margin-top: 100px;
    }

    .connect-title {
        font-size: 30px;
    }

    .connect-notice {
        font-size: 14px;
    }

    .connect-list {
        flex-wrap: wrap;
    }

    .connect-item {
        width: 48%;
        margin-bottom: 4%;
    }

    .subscribe {
        margin-top: 100px;
        flex-direction: column;
    }

    .subscribe__title {
        text-align: center;
        margin-bottom: 40px;
    }

    .subscribe__input {
        width: 75%;
    }

    .subscribe__form {
        width: 100%;
    }

    .subscribe__social-list {
        justify-content: space-around;
    }

    .subscribe-item {
        padding: 0;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }

    .footer-logo {
        margin-bottom: 40px;
        display: block;
        margin: 0 auto;
    }

    .footer-list {
        margin-top: 50px;
        margin-right: 0;
    }

    .footer-item {
        text-align: center;
    }

    .coppyright {
        flex-direction: column;
        margin-bottom: 50px;
    }

    .coppyright-privacy {
        margin-bottom: 50px;
    }
}

@media screen and(max-width: 320px) {
    .banner-action {
        text-align: center;
        display: flex;
        flex-direction: column;
        .btn {
            margin: 0;
            margin-bottom: 20px;
        }
    }
}
