.subscribe {
    display: flex;
    justify-content: space-between;
    margin-top: 180px;

    &__title {
        color: $text-color;
        font-size: 28px;
        font-weight: bold;
    }

    &__info {
    }

    &__info {
    }

    &__form {
        position: relative;
        width: 600px;
        background-color: #f2f1f6;
    }

    &__input {
        background-color: #f2f1f6;
        width: 80%;
        height: 60px;
        padding-left: 25px;
        outline: none;
        border: none;

        font-size: 16px;

        &::placeholder {
            color: #cbcbd4;
        }
    }

    &__btn {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);

        font-weight: bold;
        font-size: 14px;
    }

    &__social-list {
        display: flex;
        margin-top: 44px;
    }

    &-item {
        padding-left: 36px;
        font-size: 22px;
        color: $text-color;
    }
}
