* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

body {
    font-family: "Poppins", san-serif;
    font-size: 16px;
    color: #000;
}

.container {
    max-width: 1170px;

    padding: 0 15px;
    margin: 0 auto;
}

@import "variable";

@import "navbar";

@import "common";

@import "banner";

@import "category";

@import "feature";

@import "partners";

@import "connect";

@import "subscribe";

@import "footer";

@import "coppyright";

@import "responsive";
